@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
}

body {
    margin: 0px;
    background-color: #84E1AD;
}

header {
    background-image: linear-gradient(to bottom, #4cb378, #1b8348, #11542D 70%);
    padding: 20px 0px 5px 10px;
    font-family: 'Bebas Neue', Courier, monospace;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.450);
}

h1 {
    font-size: 48px;
    text-shadow: 1px 1px 2px black;
    font-weight: normal;
    text-align: center;
    color: white;
}

header > p {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 0px 0px 50px 0px;
    line-height: 0px;
}

nav > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 20px;
    color: rgba(225, 225, 225, 0.850);
}

nav > a:hover {
    background-color: #33a163;
    color: #042c15;
    padding: 10px 10px 6px 10px;
    border-radius: 5px;
    opacity: 1;
    transition: 0.3s;
}

main {
    background-color: white;
    max-width: 1050px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.450);
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
    text-indent: 32px;
    line-height: 32px;
}

article {
    padding: 1px 20px;
}

article > h2, h3 {
    font-family: idroid, 'Franklin Gothic Medium', sans-serif;
    color: #063D1E;
    text-indent: 0px;
    font-weight: normal;
}

h2 {
    padding-left: 5px;
    font-size: 28px;
}

h3 {
    background-image: linear-gradient(to right, #87E2B0, rgba(205, 255, 205, 0.65), white);
    padding: 0px 10px;
    font-size: 20px;
    line-height: 25px; 
}

.imagens-do-site {
    width: 100%;
}

#ultima-imagem {
    max-width: 100%;
    display: block;
    margin: auto;
}

.palavras-destacadas {
    color: #1A5C37;
}

.palavras-destacadas-com-fundo {
    text-decoration: none;
    background-color: #83E1AD;
    color: #063D1E;
    padding: 2px 4px;
}

.palavras-destacadas-com-fundo:hover {
    text-decoration: underline;
    color: #1A5C37;
}

div#video {
    background-color: #042c15;
    margin: 0px 0px 30px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #83E1AD;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.450);   
}

aside > h4 {
    font-size: 20px;
    text-indent: 0px;
    color: white;
    background-color: #1A5C37;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    padding: 0px;
    line-height: 20px;
    text-indent: 10px;
}

#palavra-android-history {
    text-decoration: none;
    color: #063D1E;
}

#palavra-android-history:hover {
    text-decoration: underline;
    color: #1A5C37;
}